<p>Zdravo,</p>
<p>Prošlo je <%= @user.days_since_last_donation %> dana od vašeg poslednjeg
davanja krvi. Vreme je da date krv.</p>
<p>Ne zaboravite da promenite datum poslednjeg davanja na
<a href="http://www.dajkrv.com">www.dajkrv.com</a>.</p>
<p>Hvala,</p>
<p>DajKrv tim</p>
