<% if record.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Ispravi greške:
    </div>
    <ul>
    <% record.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
