// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-links {
  margin-top: 30px;
}

.bg-image {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
